body{
    position: absolute;
    width: 100%;
    margin: 0px 0 0px 0;
    text-align: center;
    background: #FFFFFF;
}

.Estilo10{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

#page {
    margin: auto;
    width: 90%;
}

table.template
{    
    width: 1000px;    
}

td.template
{
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
}

div.ScrollStyle{
    OVERFLOW: auto;
    WIDTH: 751px;
    HEIGHT: 250px;
    color: #000066;
}

div.ScrollStyleMiddle{
    OVERFLOW: auto;
    WIDTH: 551px;
    HEIGHT: 200px;
    color: #000066;
}

#transparencia.ctrlProyecto{
    width:300px;
    height:60px;	
}

#transparencia{
    background-color:#FFFFFF;
    z-index:1;
    position:absolute;
    display:none;
    opacity:0.95;
    filter:alpha(opacity="95");
    background-position: center;
    text-align: center;
}