#divAlertID 
{
    display: block; 
    position: absolute;
    z-index: 10;
    width: 520px; 
    left: 200px; 
    top: 100px;
}

#dimmerDiv
{
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;    
    background-color: black;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    -KHTML-opacity: 0.6;
}

A.noTitle:link , A.yesTitle:link
{
    color: white;
    font-weight: bold;
    font-size: 11px;
}

A.noTitle:hover , A.yesTitle:hover
{
    color: #7897E4;
    text-decoration: none;
    font-weight: bold;
}

table.noTitle 
{
    width: 520px;
    border-width: 0px;
    border-spacing: 0px;
    background: #333e70 url(../img/mensajeria/bg-notif.jpg) repeat-x top left;
}

table.Title 
{
    width: 100%;
    border-width: 0px;    
    border-spacing: 0px;
    background: #333e70 url(../img/mensajeria/bg-notif-title.gif) repeat-x top left;
}


td.alertText
{
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 32px;
    padding-right: 32px;
}

td.alertButton
{
    text-align: center;  
}

td.alertTitle
{
    font-size: 11px;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;    
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 8px;    
}

td.x
{    
    text-align: right;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 5px; 
}

td.alertSpace
{
    height: 15px;
}
