#demoDer { border:1px dashed; width:300px; background-color:#EAEAEA; text-align:center; float:inherit; position:relative;}
#demoDerShort { border:1px solid; width:105px; background-color:#EAEAEA; text-align:center; float:inherit; position:relative;}
#demoInf {width:300px; background-color:#EAEAEA; text-align:right;}
#demoSup { width:300px; background-color:#EAEAEA; text-align:center;}

#lista
{
    position:absolute;
    width:100%;
    background-color:#EAEAEA; color:#000000;
    border:1px dotted; border-color:#000000;
    z-index:1;
    top:17px;
    left:0px;
    overflow: auto;
    height: 150px;
    text-align: left;    
    display:none;
}

.resaltado
{
    background-color:#FFFFFF; color:#000000;
    cursor:pointer;
}

.normal
{
    background-color:#EAEAEA; color:#000000;
}